{% for entry in entries %}
  <h2>{{ entry.title }}</h2>
  <em>Written by {{ entry.author }}</em>
  {% if entry.image %}
    <img src="{{ entry.image }}">
  {% endif %}
  {{ entry.content[0].value | upscale_images | safe }}
  <p>&nbsp;</p>
  <p><a href="{{ entry.link }}">Read on the blog &raquo;</a></p>
{% endfor %}

{% if recent_entries %}
  <p>&nbsp;</p>
  <hr>
  <h3>Other articles you might like:</h3>
  <ul>
    {% for entry in recent_entries %}
      <li><a href="{{ entry.link }}">{{ entry.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
